.cards{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    height: 85vh;
    overflow-y: scroll;
}

.year{
    font-size: 18px;
    font-weight: bold;
}

.runtime{
    font-size: 18px;
    font-weight: bold;
}

.card-body__title{
    height: 82px;
    overflow: auto;
}

.hero-link{
    background-color: rgba(255, 255, 255, 0.938);
}
